{% extends 'base.html.twig' %}

{% block title %}Books list
<a class='btn btn-primary float-end' href="admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CBookCrudController">Books dashboard</a>{% endblock %}

{% block body %}

			{% for section, books in sections %}
				<h2>{{ section }}</h2>
	<div class="card-group">

		{% for book in books %}
			<div class="col-md-3">
				<div class="card">
					<div
						class="card-img--wrapper">
					</div>
					<div class="card-body">
						<h2 class="card-title">{{ book.title }}</h2>
						<span></span>
						<p>
						</p>
					</div>
				</div>
			</div>
		{% endfor  %}

	</div>
			{% endfor %}
{% endblock %}
